.table{
    font-size: 1.8rem;
    margin-top: 2rem;
    /* background-color: #343a4042; */
    width: 60rem;
    padding: 1.6rem 3.2rem;
    color: #333;
    /* border: 1px solid #aaa; */
    border-collapse: collapse;
}

td, th{
    /* border: 1px solid #aaa; */
    padding: 0.8rem 1.6rem;
    text-align: left;
}

thead th{
    background-color: #087f5b;
    color: #fff;
    width: 50%;
}

tbody tr:nth-child(odd){
    background-color: #eee
}
tbody tr:nth-child(even){
    background-color: #ddd
}

